## OS
.DS_Store
.fleet
.idea
.local
.editorconfig
pnpm-lock.yaml
.npmrc

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.husky
dist
/public/*

# Node dependencies
node_modules

# Logs
logs
*.log

**/*.svg
**/*.sh
stats.html

# Ignored suffix
*.log
*.md
*.svg
*.png
*.ico
*ignore
